david ndlovu/Connected Services/ReplicationSerivce/Replication1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ReplicationServiceApplication.Http" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ReplicationServiceApplication.Http" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ResponseReplication">
    <xs:sequence>
      <xs:element minOccurs="0" name="message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseReplication" nillable="true" type="tns:ResponseReplication" />
</xs:schema>