david ndlovu/Connected Services/ReplicationSerivce/Replication.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:58167/Replication.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ReplicationServiceApplication.Http" />
  <xs:element name="BackUpForReplication">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="source" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="destination" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="includeSubDirectory" type="xs:boolean" />
        <xs:element minOccurs="0" name="cleanDestination" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BackUpForReplicationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ReplicationServiceApplication.Http" minOccurs="0" name="BackUpForReplicationResult" nillable="true" type="q1:ResponseReplication" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>